/* Add.css */

.card-arrows {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none; /* Remove border from the arrows */
  font-size: 40px; /* Increase the font size for larger arrows */
  color: #00cc00; /* Bold green color */
  padding: 8px;
  margin-right: 20px;
  cursor: pointer;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  align-items: center;
  height: 60vh; /* 50% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  background-color: rgb(255, 251, 251); /* Set the background color of the container */
}

.card {
  height: 60vh; /* Set the height of the card */
  width: 150vh; /* Set the width of the card */
  background-color: rgb(255, 254, 254); /* Set the background color of the card */
  border-radius: 10px; /* Add some border radius for rounded corners */
  padding: 90px; /* Add some padding inside the card */
  text-align: center; /* Center align the text inside the card */
  position: relative; /* Position the arrows relative to the card */
  margin-top: 50px;
}

.card h2 {
  text-align: left;
  width: 140vh;
  margin-bottom: 10px;
  border-bottom: 4px solid green; /* Increase the border-bottom-width to make the line thicker */
  padding-bottom: 5px;
}

.card {
  background-color: #fffafa; /* Outer card color */
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.inner-card {
  background-color: #fffefe;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 230px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition for the background color change */
}

.inner-card:hover {
  background-color: #f8f3f3; /* Change background color on hover */
}

.inner-card img {
  max-width: 100%;
  height: 170px; /* Adjust the height as needed */
  width: 150px; /* Adjust the width as needed */
}

.inner-card-text {
  color: #333; /* Set the text color to dark gray */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a shadow to the text */
  font-style: italic; /* Make the text italic */
}

.semi-round:hover {
  transform: scale(1.1);
}

.view-add-button.semi-round {
  border: none;
  background-color: green;
  color: white;
  padding: 8px 16px;
  border-radius: 20px; /* Adjust the value to change the roundness */
  box-shadow: 2px 2px 5px black;
  transition: all 0.3s ease;
  margin-top: 10px;
  cursor: pointer;
}

.view-add-button.semi-round:hover {
  background-color: red; /* Change background color to red on hover */
}

.inner-card h3,
.inner-card p {
  margin: 0;
}

.inner-card.active {
  display: block;
}

.inner-card:hover {
  background-color: #aa2d2d; /* Change background color on hover */
}
